h2
  | Your form was successfully created.
br
| Use this link to share your form:
br
a[href="http://localhost:3000/responses/new?form_id=#{@form.id}"]
  = "http://localhost:3000/responses/new?form_id=#{@form.id}"
br
| Use this token to edit your form:
br
b.bg-warning.p-1
  = "#{@form.token}"